.Header
  display: flex
  span
    flex: 0 0 auto
    font-size: 55px
    line-height: 40px
  form
    flex: 1 0 auto
  .path
    width: 100%
    font-size: 32px
    min-width: 50px
    height: 40px
    padding: 0
    background-color: transparent
    border: none
    color: white
    &:focus
      outline: none
  .startPath
    margin: 0 16px
    font-weight: bold
  h1
    flex: 0 1 auto
    margin: 0 16px 0 0
    font-size: 32px
    font-weight: normal
  a
    &:active,
    &:focus
      outline: none
  img
    flex: 0 0 auto
    height: 40px
  .hidden
    display: none