@import url('https://fonts.googleapis.com/css?family=Poppins:200')

.Header
  position: fixed
  display: flex
  width: 100%
  top: 0
  padding: 0
  max-width: 100vw
  overflow-x: hidden
  background-color: #222
  color: white
  span
    flex: 0 0 auto
  form
    flex: 1 0 auto
    height: 5rem
  .path
    display: none
    font-family: 'Poppins', monospace
    font-weight: 200
    width: 100%
    font-size: 3rem
    line-height: 5rem
    min-width: 6rem
    height: 5rem
    padding: 0
    background-color: transparent
    border: none
    color: White
    &:focus
      outline: none
  .startPath
    font-family: 'Poppins', monospace
    margin: 0 2rem
    font-size: 3rem
    line-height: 5rem
  h1
    font-family: 'Poppins', monospace
    flex: 0 1 auto
    height: 5rem
    margin: 0 2rem 0 0
    font-size: 3rem
    line-height: 5rem
    font-weight: normal
  a
    padding: 0
    height: 5rem
    &:active,
    &:focus
      outline: none
  img
    flex: 0 0 auto
    height: 5rem
  .hidden
    display: none

  @media (min-width: 735px)
    .path
      display: unset