.Header
  display: flex
  span
    flex: 0 0 auto
    font-size: 55px
    line-height: 40px
  .path
    flex: 1 0 auto
    font-size: 55px
    line-height: 40px
    min-width: 50px
    height: 46px
    background-color: transparent
    border: none
    color: white
    &:focus
      outline: none
  .startPath
    margin: 0 16px
    font-weight: bold
  h1
    flex: 0 1 auto
    margin: 0 16px 0 0
    font-size: 55px
    line-height: 40px
  img
    flex: 0 0 auto
    height: 40px
  .hidden
    display: none