#data
  p Data is
    span.wrapper

#datalove
  ul
    li love data
    li data is essential
    li data must flow
    li data must be used
    li data is neither good nor bad
    li there is no illegal data
    li data is free
    li data can not be owned
    li no man, machine or system shall interrupt the flow of data
    li locking data is a crime against datanity
    li love data