footer
	hr
	ul
		li
			a(href="/datalove")
				svg#datalove(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 150" height="50")
					polygon(fill="#000000" points="10 0 300 20 290 150 0 130")
					g
						text(x="150" y="90") &lt;3 DATALOVE!
		li
			a(href="/PGPKEY.txt") PGP key

script(src="/assets/js/main.js")
