header
	h1
		svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1050 500")
			polygon#svgY(points="0 500 500 0 650 0 150 500")
			polygon#svgD(points="650 0 900 250 650 500 800 500 1050 250 800 0")

	nav
		ul
			li
				a(href="/") projects
			li
				a(href="/about") about
