head
	meta(charset="utf-8")
	title CTRL ALT DEV
	meta(name="author" content="Yorick Demichelis")
	meta(name="description" content="I'm a tech enthusiast, front and back end developer, occasional tinkerer and infosec amateur.")
	meta(property="og:title")
	meta(property="og:type" content="website")
	meta(property="og:image" content="https://ctrlaltdev.xyz/assets/img/social.png")
	meta(property="og:description" content="I'm a tech enthusiast, front and back end developer, occasional tinkerer and infosec amateur.")
	meta(property="og:url" content="https://ctrlaltdev.xyz/")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	link(rel="stylesheet" href="/assets/css/main.css")
	link(rel="shortcut icon" href="/assets/favicon.png")
	link(rel="canonical" href="https://ctrlaltdev.xyz/")