<script src="{{ "/assets/js/three.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/engine.js" | relative_url }}"></script>
<script src="{{ "/assets/js/functions.js" | relative_url }}"></script>

<footer>
	<hr />
	<ul>
		<li>
			<a href="{{ "/datalove" | relative_url }}">
				<svg id="datalove" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 150" height="50">
					<polygon fill="#000000" points="10 0 300 20 290 150 0 130"/><g fill="#FFFFFF" text-anchor="middle" font-family="DejaVu Sans,Verdana,Geneva,sans-serif" font-size="30" font-weight="900"><text x="150" y="90">&lt;3 DATALOVE!</text></g>
				</svg>
			</a>
		</li>
		<li><a href="{{ "/PGPKEY.txt" | relative_url }}">PGP key</a></li>
	</ul>
</footer>
