.home
  &__void
    font-size: 10rem
    font-weight: 800
    font-variant: small-caps
    font-family: var(--font_title)
    letter-spacing: 1rem
    @media (orientation: portrait)
      font-size: 5rem

  .fonttest
    font-size: 10rem
    font-variant: small-caps
    letter-spacing: 1rem