.pwned {
  text-align: center;
  font-size: 2rem;
  font-family: var(--font_title);

  margin-top: 35vh;
  margin-bottom: 10vh;
}

#passwd {
  background-color: transparent;
  border: none;
  border-bottom: dotted 2px Gray;
  padding: 1rem 2rem;
  color: var(--color_fg);
  text-align: center;
  font-size: 2rem;
  font-family: var(--font_title);
}

#msg {
  margin-top: 2rem;
  color: var(--color_fg2);
  font-family: var(--font_title);
  &.pwned {
    color: Crimson;
  }
  &.notpwned {
    color: Aqua;
  }
}
