.About
  height: 100vh
  background-color: GhostWhite
  padding: 0
  margin: 0
  h2
    font-family: 'Yantramanav', sans-serif
    text-transform: uppercase
    font-weight: 700
    font-size: 11rem
    margin: 0 0 2rem
    padding: calc(35vh - 8rem) 2rem 0
  .intro
    position: relative
    top: -2rem
    margin: 0
    padding: 0 2rem
    font-size: 2rem
  .techs
    display: flex
    flex-flow: row wrap
    list-style: none
    padding: 0 1rem
    li
      flex: 0 1 auto
      width: calc(100% / 10 - 2rem)
      min-width: 10rem
      margin: 1rem
      padding: 0
      svg
        max-width: 100%
        height: auto
        margin: 0
        text
        font-size: 10rem
        fill: #333
        text-anchor: end
