.projectslist
  width: 100%
  min-height: 80vh
  display: flex
  flex-flow: row wrap
  align-content: center
  
  li
    flex: 1 1 auto
    margin: 2rem
    text-align: center
    font-weight: 900

    a
      display: block
      background-color: unset
      padding: 2rem
      font-size: 3rem
      color: var(--color_bg)
      font-family: var(--font_title)
      text-transform: uppercase