@import url('fonts/fonts.css')

html
  font-family: 'Montserrat', Arial, sans-serif
  font-size: 8px

body
  margin: 0
  padding: 0
  background-color: white
  color: #222
a
  outline: none

main
  padding-top: 4rem

.beta
  position: fixed
  bottom: -2rem
  right: -6rem
  width: 10rem
  height: 3rem
  padding: 1rem 4rem 5rem
  background-color: rgba(0,0,0,0.2)
  transform: rotate(-45deg)
  text-align: center
  span
    text-transform: uppercase
    font-size: 3rem
    font-family: 'Yantramanav', sans-serif
    font-weight: 700
    color: #111
    animation: colorWheelTxt 60s infinite

@keyframes colorWheelTxt
  from
    color: white
  10%
    color: turquoise
  20%
    color: springgreen
  30%
    color: gold
  40%
    color: coral
  50%
    color: firebrick
  60%
    color: deeppink
  70%
    color: purple
  80%
    color: indigo
  90%
    color: midnightblue
  to
    color: white