.Project
  flex: 1 1 auto
  margin: 16px
  background-color: rgba(255, 255, 255, 0.1)
  a
    display: block
    padding: 64px 32px
    text-decoration: none
    color: white
    h3
      text-align: center
      text-transform: uppercase