=gradient($color)
  background-image: linear-gradient(45deg, $color, $color 50%, #333 50%, #333)

.ProjectPage
  display: flex
  flex-flow: row wrap
  margin: 2rem
  header
    flex: 1 0 100%
    margin: 2rem
  h2,
  h3,
  h4,
  h5,
  h6
    font-family: 'Yantramanav', sans-serif
    text-transform: uppercase
    font-weight: 700
  h2
    font-size: 4rem
  h3
    font-size: 3rem
  h4,
  h5,
  h6
    font-size: 2em
  section
    flex: 1 1 calc(50% - 4rem)
    margin: 0 2rem
    @media only screen and (max-width: 735px)
      flex: 1 1 100%
    img
      width: 100%
      height: auto
    article
      margin: 2rem 0
      font-size: 2rem
      p
        margin: 1rem 0
        line-height: 1.4
      a
        color: unset
        text-decoration: none
      img
        max-height: 64px
        width: auto
      img[src^="https://img"]
        max-height: 4rem
        width: auto
      table
        width: 100%
        border: solid 2px #DDD
        tr:hover
          background-color: #DDD
        th
          background-color: #DDD
          text-align: left
        th, td
          padding: 1rem 2rem
      p > code
        padding: 0 1rem
        font-style: italic
      code
        font-family: monospace
      pre
        background-color: #333
        color: white
        padding: 2rem
        border-radius: 2px
    footer
      margin: 2rem 0
      ul
        padding: 0
        list-style: none
        li
          display: inline-block
          margin: 2rem
        a
          padding: 1rem 2rem
          font-size: 2rem
          text-decoration: none
          color: #DDD
          background-color: #333
          background-size: 400%
          background-position: 100% 0%
          transition: background-position 2s, color 2s
          &:hover
            background-position: 0% 0%
            color: #111
            transition: background-position 1s, color 1s
          &.Turquoise
            +gradient(Turquoise)
          &.Aquamarine
            +gradient(Aquamarine)
          &.SteelBlue
            +gradient(SteelBlue)
          &.Chartreuse
            +gradient(Chartreuse)
          &.SpringGreen
            +gradient(SpringGreen)
          &.ForestGreen
            +gradient(ForestGreen)
          &.OliveDrab
            +gradient(OliveDrab)
          &.Gold
            +gradient(Gold)
          &.Khaki
            +gradient(Khaki)
          &.Coral
            +gradient(Coral)
          &.OrangeRed
            +gradient(OrangeRed)
          &.DarkOrange
            +gradient(DarkOrange)
          &.IndianRed
            +gradient(IndianRed)
          &.Salmon
            +gradient(Salmon)
          &.FireBrick
            +gradient(FireBrick)
          &.Crimson
            +gradient(Crimson)
          &.MediumVioletRed
            +gradient(MediumVioletRed)
          &.HotPink
            +gradient(HotPink)
          &.DeepPink
            +gradient(DeepPink)
          &.Orchid
            +gradient(Orchid)
