.Project
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  background: center / cover no-repeat Azure
  a
    flex: 0 0 auto
    font-size: 3rem
    text-decoration: none
    color: #222
  h3
    text-transform: uppercase
    font-family: 'Yantramanav', sans-serif
    font-weight: 700
    margin: 0
    padding: 2rem 3rem
    &.Turquoise
      background-color: Turquoise
    &.Aquamarine
      background-color: Aquamarine
    &.SteelBlue
      background-color: SteelBlue
    &.Chartreuse
      background-color: Chartreuse
    &.SpringGreen
      background-color: SpringGreen
    &.ForestGreen
      background-color: ForestGreen
    &.OliveDrab
      background-color: OliveDrab
    &.Gold
      background-color: Gold
    &.Khaki
      background-color: Khaki
    &.Coral
      background-color: Coral
    &.OrangeRed
      background-color: OrangeRed
    &.DarkOrange
      background-color: DarkOrange
    &.IndianRed
      background-color: IndianRed
    &.Salmon
      background-color: Salmon
    &.FireBrick
      background-color: FireBrick
    &.Crimson
      background-color: Crimson
    &.MediumVioletRed
      background-color: MediumVioletRed
    &.HotPink
      background-color: HotPink
    &.DeepPink
      background-color: DeepPink
    &.Orchid
      background-color: Orchid
